.bioscoopItem{
  border: 1px solid black;
}
.meerInfoButton{
  text-align: center;
  border: 1px solid black;
  cursor: pointer;
}
.paginering{
  text-align: center;
}
.bioscoopItemImage{
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 200px;
}
