.footerBarButtons{
  text-align: center;
  cursor: pointer;
  border: 1px solid #34495e;
  list-style-type: none;
  padding: 14px 16px;
  background-color: #C4E538;
  color: #009432;
  font-weight: bold;
  font-size: 1em;
}
.footerBarButtons:hover{
  color: white;
  background-color: #34495e;
}
